@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<h1>WEB MF</h1>
<h3>Versão Web do aplicativo de gerenciamento de produção da empresa MF Soluções.</h3>
<p>Desenvolvido especialmente para o modelo de negócios de cartões e crachás em PVC.</p>
<p>Saiba exatamente como está o andamento dos pedidos.</p>
<p>Rápido e prático, entre em contato com um de nossos repreentantes comerciais e contrate já!</p>
<h3>SAIA JÁ DO PAPAEL!</h3>
<br />
<br />
<br />
<p>Desenvolvido por Fábio e Ian Ltda. - CNPJ(RA) 082170007-082170010</p>